/* GENERAL */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.bg-color-black {
    background-color: black;
}

.text-uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: bold;
}

.font-color-black {
    color: black;
}

.font-color-white {
    color: white;
}

.font-color-gray {
    color: #b3b3b3;
}

.font-size-35 {
    font-size: 35px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-10 {
    font-size: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-bottom-10 i {
    padding-bottom: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

/* GENERAL */

#flex-body {
    display: flex;
}
/* COMINCIA LEFT-BAR */

#left-bar {
    width: 200px;
    height: 90vh;
    background-color: #040404;
    justify-content: space-between;
    padding: 10px 20px;
}

/* NEW CODE FOR LIST */

#left-bar .top-of-bar ul {
    list-style: none;
    padding: 0;

}

#left-bar .top-of-bar ul li {
    padding-top: 5px;
}

#left-bar .top-of-bar ul li a {
    text-decoration: none;
}

.ms--playlist {
    padding-top: 10px;
}

/* NEW CODE FOR LIST */

#left-bar .top-of-bar ul li a span {
    vertical-align: middle;
    padding-left: 5px;
}

#left-bar .bottom-of-bar .ms--installa-app {
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 10px;

}

#left-bar .bottom-of-bar span {
    padding-left: 10px;
}

/* FINE LEFT-BAR */

/* COMINCIA RIGHT */

#top-bar {
    width: calc(100vw - 200px);
    height: 70px;
    background-color: #0c0c0c;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#top-bar button {
    text-transform: uppercase;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}

#main-content {
    width: calc(100vw - 200px);
    height: calc(90vh - 70px);
    background-color: #121212;
    overflow-y: auto;
}

#navbar {
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
}

#navbar a {
    text-decoration: none;

}

#navbar .link-box {
    margin-left: 10px;
    padding-right: 10px;

}

/* COMINCIA RECENTLY-PLAYED */

.rp-tiles {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#recently-played .tile img {
    height: 250px;
}

/* FINE RECENTLY-PLAYED */

/* FINE RIGHT */

/* COMINCIA PLAY-BAR */

#play-bar {
    width: 100vw;
    height: calc(100vh - 90vh);
    background-color: #282828;
    align-self: flex-end;
    padding: 10px;

}

#play-bar-content {
    display: flex;

}

#left-play-bar {
    flex: 0 0 20%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#left-play-bar img {
    height: 50px;

}

#song-content {
    display: flex;
    flex: 0 0 60%;
    justify-content: space-between;
    align-items: center;
}

#song-icons {
    display: flex;
    justify-content: space-between;
    flex: 0 0 20%;
}

#middle-play-bar {
    display: flex;
    flex: 0 0 60%;
    flex-wrap: wrap;
}

#play-icons {
    display: flex;
    justify-content: center;
    flex: 0 0 30%;
    align-items: center;
    margin: 0 auto;
}

.song-timer {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-remaining {
    flex: 0 0 10%;
    justify-content: center;
    display: flex;
}


.timer-bar {
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background-color: #404040;
}

#right-play-bar {
    display: flex;
    flex: 0 0 20%;
    justify-content: space-between;
    align-items: center;
}

.volume-bar {
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background-color: #404040;
}
/* FINE PLAY-BAR */
