/* GENERAL */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

.flex-direction-column {
    display: flex;
    flex-direction: column;
}

.bg-color-black {
    background-color: black;
}

.text-uppercase {
    text-transform: uppercase;
}

.font-bold {
    font-weight: bold;
}

.font-color-black {
    color: black;
}

.font-color-white {
    color: white;
}

.font-color-gray {
    color: #b3b3b3;
}

.font-size-35 {
    font-size: 35px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-13 {
    font-size: 13px;
}

.font-size-11 {
    font-size: 11px;
}

.font-size-10 {
    font-size: 10px;
}

.padding-bottom-10 {
    padding-bottom: 10px;
}

.padding-top-5 {
    padding-top: 5px;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-bottom-10 i {
    padding-bottom: 10px;
}

.padding-right-10 {
    padding-right: 10px;
}

.padding-right-20 {
    padding-right: 20px;
}

.padding-left-20 {
    padding-left: 20px;
}

.padding-bottom-20 {
    padding-bottom: 20px;
}

.shape-round {
    border-radius: 50%;
}

i:hover {
    cursor: pointer;
}

/* GENERAL */

#flex-body {
    display: flex;
}
/* COMINCIA LEFT-BAR */

#left-bar {
    width: 200px;
    height: 90vh;
    background-color: #040404;
    justify-content: space-between;
    padding: 10px 0px;
}

#left-bar .top-of-bar ul {
    list-style: none;
    padding: 0;
}

#left-bar .top-of-bar ul li {
    padding-top: 5px;
    padding-left: 20px;
    border-left: 3px solid transparent;
}

#left-bar .top-of-bar ul li a {
    text-decoration: none;
}

#left-bar .top-of-bar ul li a span {
    vertical-align: middle;
    padding-left: 5px;

}

#left-bar .top-of-bar #action-list li:nth-child(1n+2):hover {
    border-left: 3px solid lightgreen;

}

#left-bar .top-of-bar #action-list a:nth-child(1n+1):hover {
    color: white;

}

#left-bar .bottom-of-bar .ms--installa-app {
    border-bottom: 1px solid #b3b3b3;
    margin-bottom: 10px;

}

#left-bar .bottom-of-bar span {
    padding-left: 10px;
}

/* FINE LEFT-BAR */

/* COMINCIA RIGHT */

#top-bar {
    width: calc(100vw - 200px);
    height: 70px;
    background-color: #0c0c0c;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

#top-bar button {
    text-transform: uppercase;
    border: 1px solid white;
    padding: 10px 20px;
    border-radius: 20px;
}

#top-bar button:hover {
    background-color: lightgreen;
    color: black;
    border-color: 0;
}

#main-content {
    width: calc(100vw - 200px);
    height: calc(90vh - 70px);
    background-color: #121212;
    overflow-y: auto;

}

#navbar {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex: 0 0 auto;
}

#navbar #inner-navbar {
    flex: 0 0 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#navbar a {
    text-decoration: none;
}

#navbar #inner-navbar .link-box {


}

#navbar a {
    border-bottom: 3px solid transparent;
}

#navbar a:hover {
    border-bottom: 3px solid lightgreen;

}

/* COMINCIA RECENTLY-PLAYED */

.rp-tiles {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-wrap: wrap;
}

.tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 16.6666667%;
}

.tile img {
    width: 150px;
    height: 150px;

}

.img-container {
    position: relative;
}

.tile .img-container:hover img {
    opacity: 0.3;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
}

.tile .img-container:hover .overlay {
    opacity: 1;
}

.overlay-icon {

}

/* FINE RECENTLY-PLAYED */

/* FINE RIGHT */

/* COMINCIA PLAY-BAR */

#play-bar {
    width: 100vw;
    height: calc(100vh - 90vh);
    background-color: #282828;
    align-self: flex-end;
    padding: 10px;

}

#play-bar-content {
    display: flex;

}

#left-play-bar {
    flex: 0 0 20%;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

#left-play-bar img {
    height: 50px;

}

#song-content {
    display: flex;
    flex: 0 0 60%;
    justify-content: space-around;
    align-items: center;
}

#song-icons {
    display: flex;
    justify-content: space-around;
    flex: 0 0 20%;
}

#song-icons .fa-heart:hover {
    color: red;
}

#middle-play-bar {
    display: flex;
    flex: 0 0 60%;
    flex-wrap: wrap;
}

#play-icons {
    display: flex;
    justify-content: center;
    flex: 0 0 30%;
    align-items: center;
    margin: 0 auto;
}

.song-timer {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-remaining {
    flex: 0 0 10%;
    justify-content: center;
    display: flex;
}


.timer-bar {
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background-color: #404040;
    transition: width 2s;
}
/*
.fa-play-circle:active .timer-bar span {
    width: 100%;
    background-color: white;
}
*/

#right-play-bar {
    display: flex;
    flex: 0 0 20%;
    justify-content: space-between;
    align-items: center;
}

.volume-bar {
    width: 50%;
    height: 5px;
    border-radius: 5px;
    background-color: #404040;
}
/* FINE PLAY-BAR */

/* MEDIA QUERY MD */

@media all and (max-width: 1199px) and (min-width: 992px) {
    .tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 25%;
        padding-bottom: 20px;
    }

    .tile img {
        width: 180px;
        height: 180px;

    }

    #navbar {
        display: flex;
        flex: 0 0 auto;
    }

    #navbar #inner-navbar {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    #navbar .link-box {
        padding: 20px;
        flex: 0 0 20%;
        display: flex;
        justify-content: center;

    }

}

/* MEDIA QUERY MD */

/* MEDIA QUERY SM */

@media all and (max-width: 991px) and (min-width: 768px) {
    .tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 50%;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .tile img {
        width: 270px;
        height: 270px;

    }

    #navbar {
        display: flex;
        flex: 0 0 auto;
    }

    #navbar #inner-navbar {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    #navbar .link-box {
        padding: 20px;
        flex: 0 0 33%;
        display: flex;
        justify-content: center;

    }

    #left-play-bar {
        flex: 0 0 20%;
    }
    #left-play-bar img {
        height: 30px;
    }

    #song-content {
        display: flex;
        flex: 0 0 70%;
        justify-content: space-around;
        align-items: center;
    }

    #song-content h5 {
        font-size: 10px;
    }
    #song-content p {
        font-size: 9px;
    }

    #song-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 30%;
    }
    #middle-play-bar {
        flex: 0 0 50%;
    }


    #play-icons {
        display: flex;
        justify-content: space-evenly;
        flex: 0 0 70%;
        margin: 0 auto;

    }

    .song-timer {
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .time-remaining {
        flex: 0 0 10%;
        justify-content: center;
        display: flex;
    }


    .timer-bar {
        width: 50%;
        height: 5px;
        border-radius: 5px;
        background-color: #404040;
    }

    #right-play-bar {
        flex: 0 0 30%;
    }

}

/* MEDIA QUERY SM */

/* MEDIA QUERY XS */


@media screen and (max-width: 767px) {

    #left-bar {
        width: 50px;
        height: 90vh;
        background-color: #040404;
        justify-content: space-between;
        padding: 10px 0px;
    }

    #left-bar #action-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #left-bar span {
        display: none;
    }

    #left-bar .top-of-bar ul li {
        padding-left: 0;
        border: none;
    }

    #left-bar .top-of-bar #action-list li .fa-spotify {
        font-size: 25px;
    }

    #left-bar .top-of-bar #action-list li .fa-spotify:hover {
        color: lightgreen;
    }

    #left-bar .top-of-bar #action-list li:nth-child(1n+2) a i {
        font-size: 15px;
    }

    #left-bar .top-of-bar #action-list li:nth-child(1n+2) a:hover {
        color: white;
        border: none;
    }

    #left-bar .top-of-bar #action-list li:nth-child(1n+2):hover {
        border-left: none;
    }

    #left-bar .bottom-of-bar {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        align-items: center;
    }

    #left-bar .bottom-of-bar .ms--installa-app {
        border-bottom: none;
        margin-bottom: 0;

    }

    #left-bar .bottom-of-bar i:hover {
        color: white;
    }

    #top-bar {
        width: calc(100vw - 50px);
        height: 70px;
        background-color: #0c0c0c;
        display: flex;
        justify-content: flex-end;
        align-items: center;

    }

    #main-content {
        width: calc(100vw - 50px);
        height: calc(90vh - 70px);
        background-color: #121212;
        overflow-y: auto;
    }

    #navbar {
        display: flex;
        flex: 0 0 auto;
    }

    #playlist {
        display: none;
    }

    #navbar #inner-navbar {
        flex: 0 0 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

    }
    #navbar .link-box {
        padding: 20px;
        flex: 0 0 25%;
        display: flex;
        justify-content: center;

    }

    .tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 50%;
        flex-wrap: wrap;
        padding-bottom: 20px;
    }

    .tile img {
        width: 300px;
        height: 300px;

    }


    #left-play-bar {
        flex: 0 0 20%;
    }
    #left-play-bar img {
        height: 30px;
    }

    #song-content {
        display: flex;
        flex: 0 0 70%;
        justify-content: space-around;
        align-items: center;
    }

    #song-content h5 {
        font-size: 10px;
    }
    #song-content p {
        font-size: 9px;
    }

    #song-icons {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 30%;
    }
    #middle-play-bar {
        flex: 0 0 50%;
    }


    #play-icons {
        display: flex;
        justify-content: space-evenly;
        flex: 0 0 70%;
        margin: 0 auto;

    }

    .song-timer {
        flex: 0 0 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .time-remaining {
        flex: 0 0 10%;
        justify-content: center;
        display: flex;
    }


    .timer-bar {
        width: 50%;
        height: 5px;
        border-radius: 5px;
        background-color: #404040;
    }

    #right-play-bar {
            flex: 0 0 30%;
    }


}

/* MEDIA QUERY XS */
